*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: all 10ms ease-in;
    user-select: none;
}
header{
    display: flex;
    justify-content: space-between;
    background: rgb(241, 244, 245);
    filter: drop-shadow(1rem 1rem 1rem rgb(214, 212, 212));
    position: relative;
}
.links{
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 2rem 2rem;
}

.links-social{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 2rem 2rem;
    list-style: none;
}
.links a{
    text-decoration:none;
    color: black;
    transition: all .2s ease;
}
a:hover{
    font-size: smaller;
    transition: all .2s ease;
    filter: drop-shadow(0.2rem 0.2rem 0.2rem black);
}
.links-social a{
    margin: 0.5rem;
    text-decoration:none;
    transition: all .2s;
    color:rgb(114, 207, 247);
}
.links-social a:hover{
    color: orange;
    transition: all .2s;
    filter: drop-shadow(0.2rem 0.2rem 0.2rem black);
}
.toggle-btn{
    display: none;
    position: fixed;
    top: 0.5rem;
    right: 2rem;
    font-size: 2rem;
    border: none;
    background: rgb(241, 244, 245);
    color:rgb(114, 207, 247) ;
}

@media (max-width:800px){
    .header{
        position: relative;
    }
    .toggle-btn{
       position: absolute;
       display: block;
       transition: all .2s ease-in;
    }
    .toggle-btn:hover{
        transform: rotate(90deg);
        cursor: pointer;
        transition: all .2s ease-in;
        
    }
    .links{
        height: 0;
        overflow: hidden;
        transition: var(--transition);
    }
    .links-social{
        display:none;
    }
    .show-links{
        height: 8rem;
        flex-direction: column;
        justify-content: space-between;
        margin: 1rem;
    }
    .header{
        display: flex;
        justify-content: space-between;
        padding: auto;
        
    }
    a{
        transition: all .2s ease-in;
    }
    a:hover{
        width: 100%;
        margin: 0.2rem;
        font-size: smaller;
        transition: all .2s ease-in-out;
        filter: drop-shadow(0.2rem 0.2rem 0.2rem black);
    }
  
}