*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: all 1s ;
}
header{
    display: flex;
    justify-content: flex-start;
    background: rgb(241, 244, 245);
    filter: drop-shadow(1rem 1rem 1rem rgb(214, 212, 212));
    position: relative;
}
.links{
    display: flex;
    list-style: none;
    margin: 2rem 4rem;
    
}
li{
    display: block;
}
.links-social{
    display: flex;
    margin: 2rem 0;
    list-style: none;
}
.links a{
    margin: 0.5rem;
    text-decoration:none;
    color: black;
}
a:hover{
    margin: 0.5rem;
    font-size: smaller;
    transition: all 1s ease;
    
}
.links-social a{
    margin: 0.5rem;
    text-decoration:none;
    color:rgb(114, 207, 247)
}
.toggle-btn{
    display: none;
    position: fixed;
    top: 1rem;
    right: 2rem;
    font-size: 2rem;
    border: none;
    background: rgb(241, 244, 245);
    color:rgb(114, 207, 247) ;
}

@media (max-width:750px){
    .toggle-btn{
       display: block;
    }
    .toggle-btn:hover{
        transform: rotate(90deg);
        
    }
    .links{
        height: 0;
        overflow: hidden;
        transition: var(--transition);
    }
    .links-social{
        display:none;
    }
    .show-links{
        height: 8rem;
        justify-content: space-between;
        flex-direction: column;
        margin: 1rem;
    }
    .header{
        display: flex;
        justify-content: space-between;
        padding: 2.75rem;
        
    }
   
}